/* ParallelTrans Content Styles */

/* 
 * 배경 하이라이트 제거됨 
 * .parallel-trans-block 스타일 삭제
 */

.parallel-trans-inline {
  display: inline;
  margin-left: 0.4em;
  /* 원본 스타일 상속 - 최대한 원문과 비슷하게 */
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  color: inherit;
  letter-spacing: inherit;
  line-height: inherit;
  text-decoration: inherit;
  /* 투명도 제거 */
  opacity: 1;
}

.parallel-trans-wrapper {
  display: inline;
}